<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Worm Home</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Worm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <main role="main">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subscribers/">Subscribers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/authors/">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rentals/">Rentals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books/">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books_and_authors/">Books and authors</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Book Worm</h1>
      <p>Meet Book Worm, your one-stop solution to managing your library. Boom Worm enchances your productivity by
        implementing an easy-to-use front end with a robust database backend hosted on Oregon State University's
        cutting-edge FLIP&trade; server. Don't let your inventory get you down--Book Worm is here to help.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Manage library subscribers</h2>
        <p>Need to add new subscribers or remove old ones? Made a spelling mistake when entering someone's name? Don't
          worry.</p>
        <p><a class="btn btn-secondary" href="/subscribers/" role="button">Check it out here &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Manage rentals</h2>
        <p>Are you bombarded by a never-ending stream of rentals? Book Worm can help you.</p>
        <p><a class="btn btn-secondary" href="/rentals/" role="button">Go here &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Manage books</h2>
        <p>Don't fear your library inventory! Add, remove, and edit book information in just a few clicks.</p>
        <p><a class="btn btn-secondary" href="/books/" role="button">See it in action &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div>
  </main>
  <footer class="container">
    <p>&copy; Team 290: The SQL 2021. Note: FLIP servers may not be cutting edge and speeds may vary.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>